<div class="container">
  <div class="row">
    <div class="col-md-2">
      <button class="clear">Clear</button>
    </div>
    <div class="col-md-2">
      <%= form_tag ({}) do %>
          <%= select_tag 'pubs', options_for_select(get_amenities(@db_con, 'pub')), class: 'form-control' %>
      <% end %>
      <%= submit_tag 'Pubs', class: 'pub' %>
    </div>
    <div class="col-md-2">
      <%= form_tag ({}) do %>
          <%= select_tag 'restaurant', options_for_select(get_amenities(@db_con, 'restaurant')), class: 'form-control' %>
      <% end %>
      <%= submit_tag 'Restaurants', class: 'restaurant' %>
    </div>
  </div>
</div>

<div class='container' id='map'></div>
<script>
    L.mapbox.accessToken = 'pk.eyJ1IjoibWlrZTU1NTEiLCJhIjoiY2l2NnozdnR5MDAwMTJ6cGoyaWthdWpqayJ9.bknUce053UYkW8wNtcvLdg';
    var map = L.mapbox.map('map')
            .setView([48.1578, 17.1153], 14);

    L.mapbox.styleLayer('mapbox://styles/mapbox/emerald-v8').addTo(map);
    var myLayer = L.mapbox.featureLayer().addTo(map);
    //    L.marker([48.1578, 17.1153]).addTo(map)
    var center = {
            "type": "Feature",
            "geometry": {
                "type":"Point",
                "coordinates":[17.0688070566957,48.1479875068404]}};

    get_json = function(url){
        $.ajax({
            type: "GET",
            url: url,
            dataType: "json",
            success: function(geojson){
                console.log(url);
                console.log(geojson.length);
                for(var i=0; i<geojson.length; i++) {
                    L.mapbox.featureLayer().setGeoJSON(geojson[i]).addTo(map);
                }
//                  L.marker(geojson[0].geometry.coordinates).addTo(map);

            }
        });
    };

    pubs = function(id){
//        clearMap();
        get_json('/map/pubs/'+id);
    };

    pubs_way = function(id){
        get_json('/map/pubs_way/'+id)
    };


    get_object = function(id, type){
        get_json('/map/'+ type + '/' + id)
    };

    get_within = function(type, within){
        get_json('/map/within/'+type+'/'+within+'/'+1798714617)
    };

    $('.pub').click(function(e){
        //logic
        var pub_id = $('#pubs')[0].value;
        console.log(pub_id);
        pubs(pub_id);
        return false;
    });
    $('.restaurant').click(function(e){
        //logic
        var id = $('#restaurants')[0].value;
        console.log(id);
        get_object(id, 'restaurant');
        return false;
    });
    $('.clear').click(function(e){
        get_within('pub',2200)
    });

    map.on('click', function (e) {
        var features = map.queryRenderedFeatures(e.point);

        if (!features.length) {
            return;
        }

        var feature = features[0];

        // Populate the popup and set its coordinates
        // based on the feature found.
        var popup = new mapboxgl.Popup()
                .setLngLat(feature.geometry.coordinates)
                .setHTML(feature.properties.description)
                .addTo(map);
    });


</script>