<div class="container">
  <div class="row">
    <table>
      <tr>
        <th></th>
        <th>
          Amenity
        </th>
        <th>
          Radius(m)
        </th>
        <th>
          Streets within(m)
        </th>
        <th>
          Color(hex)
        </th>
        <th>
          Number of
        </th>
        <th>
        </th>
      </tr>
      <tr>
        <td>
          <button class="clear btn btn-danger">Clear</button>
        </td>
        <td>
          <%= select_tag 'amenity', options_for_select(get_amenities(@db_con)), class: 'form-control' %>
        </td>
        <td>
          <%= text_field_tag 'distance', nil, class: 'form-control input' %>
        </td>
        <td>
          <%= text_field_tag 'streets_within', nil, class: 'form-control input' %>
        </td>
        <td>
          <%= text_field_tag 'color', nil, class: 'form-control input-small' %>
        </td>
        <td>
          <%= text_field_tag 'number', nil, class: 'form-control input-small' %>
        </td>
        <td>
          <button class="amenity btn btn-success">Add</button>
        </td>
        <td>
          <button class="streets btn btn-success">Streets</button>
        </td>
        <td>
          <button class="radius btn btn-primary">Radilus On/Off</button>
        </td>
      </tr>
    </table>
    <div class="col-md-1">

    </div>
  </div>
  <div class="row">
    <table>
      <td>
        <%= text_field_tag 'polygon', nil, class: 'form-control', style: "width: 100px" %>
      </td>
      <td>
        <button class="polygon btn btn-primary">ID</button>
      </td>
    </table>
  </div>
</div>

<div class='container' id='map'></div>
<script>
    L.mapbox.accessToken = 'pk.eyJ1IjoibWlrZTU1NTEiLCJhIjoiY2l2NnozdnR5MDAwMTJ6cGoyaWthdWpqayJ9.bknUce053UYkW8wNtcvLdg';
    var map = L.mapbox.map('map')
            .setView([48.1578, 17.1153], 14);

    L.mapbox.styleLayer('mapbox://styles/mapbox/emerald-v8').addTo(map);
    var myLayer = L.mapbox.featureLayer().addTo(map);
    var layer_count = -1;
    var circles_showing = false;

    center_marker = L.marker(new L.LatLng(48.1578, 17.1153), {
        draggable: true
        }).addTo(map);
    console.log(center_marker);

    var geoJSONs = [];
    var circles = [];
    var center = {
            "type": "Feature",
            "geometry": {
                "type":"Point",
                "coordinates":[17.0688070566957,48.1479875068404]}};

    get_json = function(url){
        console.log(url);
        $.ajax({
            type: "GET",
            url: url,
            dataType: "json",
            success: function(geojson){
                console.log(url);
                console.log('geojson: '+geojson);
                if(geojson == null) {
                    return;
                }
                layer_count++;
                geoJSONs[layer_count] = new Array(geojson.length);
                for(var i=0; i<geojson.length; i++) {
                    geoJSONs[layer_count][i] = L.mapbox.featureLayer().setGeoJSON(geojson[i]).addTo(map);
                }
            }
        });
    };

    get_within = function(type, within, color){
        var lng = String(center_marker._latlng.lng).replace(".","_");
        var lat = String(center_marker._latlng.lat).replace(".","_");
        console.log(color);
        get_json('/map/within/'+type+'/'+within+'/'+lat+'+'+lng+'/'+color);
        circles.push(L.circle([center_marker._latlng.lat,center_marker._latlng.lng], within));
    };


    get_streets_within = function(type, within, color, streets_within, number_of){
        var lng = String(center_marker._latlng.lng).replace(".","_");
        var lat = String(center_marker._latlng.lat).replace(".","_");
        console.log(color);
        get_json('/map/streets_within/'+type+'/'+within+'/'+lat+'+'+lng+'/'+color+'/'+streets_within+'/'+number_of);
//        circles.push(L.circle([center_marker._latlng.lat,center_marker._latlng.lng], within));
    };


    get_polygon = function(id){
        get_json('/map/within/polygon/'+id);
    };

    $('.clear').click(function(e){
        console.log(center_marker);
        if(geoJSONs[layer_count] == null)
            return;
        for(var i=0; i<geoJSONs[layer_count].length; i++) {
            if(geoJSONs[layer_count][i] == null)
                break;
            geoJSONs[layer_count][i].clearLayers();
        }
        if ( circles_showing )
            map.removeLayer(circles[layer_count]);
        circles.pop();
        layer_count--;
    });
    $('.amenity').click(function(e){
        var color = $('#color')[0].value;
        if(color == null){
            color = '#00CC00';
        }
        if(color[0]=='#'){
            color = color.substring(1,7);
        }
        console.log("color: "+color);
        get_within($('#amenity')[0].value, $('#distance')[0].value, color)
    });
    $('.radius').click(function(e){
        for(var i=0; i<circles.length; i++){
            if ( circles_showing )
                map.removeLayer(circles[i]);
            else
                circles[i].addTo(map);
        }
        circles_showing = !circles_showing;
    });
    $('.polygon').click(function(e){
       get_polygon($('#polygon')[0].value);
    });

    $('.streets').click(function(e){
        var color = $('#color')[0].value;
        if(color == null){
            color = '#00CC00';
        }
        if(color[0]=='#'){
            color = color.substring(1,7);
        }
//        console.log($('#streets_within')[0].value);
        get_streets_within($('#amenity')[0].value, $('#distance')[0].value, color, $('#streets_within')[0].value, $('#number')[0].value);
    });
    map.on('click', function (e) {
        var features = map.queryRenderedFeatures(e.point);

        if (!features.length) {
            return;
        }

        var feature = features[0];

        // Populate the popup and set its coordinates
        // based on the feature found.
        var popup = new mapboxgl.Popup()
                .setLngLat(feature.geometry.coordinates)
                .setHTML(feature.properties.description)
                .addTo(map);
    });


</script>